[Unit]
Description=Python Dashboard voor USD
After=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Type=fork
Restart=always
RestartSec=5
User=roy
ExecStart=/media/4tb/python/scripts/dash.sh

[Install]
WantedBy=multi-user.target
